.table-menu{
    width:100%; 
    text-align: center;
    background-color:#CAB8FF;
    font-family: 'Fugaz One', cursive;
}
.table-menu a:hover{
    color: white;
}
.table-menu td:hover{
    background-color: rgb(198, 138, 255);
}
body{
    background-image: url("https://i.pinimg.com/564x/72/ee/94/72ee947637242dabd5a9d75d93bef09c.jpg");
    
}
.hr{
    border-width: 10px;
}
h1{
    text-align: center;
    text-shadow: 2px 2px white;
    font-family: 'Fugaz One', cursive;
    font-size: 32px;
    border: 8px solid;
    padding: 10px; 
    width: 200px;
    resize: both;
    overflow: auto;
    background-color:#EB92BE;
    border-radius: 50px;
    margin:auto;
}
h4{
    text-align: center; 
    font-family: 'Fugaz One', cursive;
    font-weight:normal;
    border: 8px solid;
    padding: 8px; 
    width: 650px;
    resize: both;
    overflow: auto;
    background-color:#FFEF78;
    border-radius: 50px;
    margin:auto;
}
h5{
    text-align: center; 
    font-family: 'Fugaz One', cursive;
    font-weight:normal;
    border: 8px solid;
    padding: 8px; 
    width: 300px;
    resize: both;
    overflow: auto;
    background-color:#B1FFFD;
    border-radius: 50px;
    margin:auto;
}
h2{
    text-align: center; 
    font-family: 'Fugaz One', cursive;
    font-weight:normal;
    border: 8px solid;
    padding: 8px; 
    width: 200px;
    resize: both;
    overflow: auto;
    background-color:#C1FFD7;
    border-radius: 50px;
    margin:auto;
}
.table-skills{
    margin-left: auto; 
    margin-right: auto; 
    background-color: #FEFDCA;
    border: 6px solid;
    font-family: 'Fugaz One', cursive;
}