.table-menu{
    width:100%; 
    text-align: center;
    background-color:#CAB8FF;
    font-family: 'Fugaz One', cursive;
}
.table-menu a:hover{
    color: white;
}
.table-menu td:hover{
    background-color: rgb(198, 138, 255);
}
body{
    background-image: url("https://i.pinimg.com/564x/9e/71/c0/9e71c0d0068fb7ecba80c4974b591a3e.jpg");
    
}
.hr{
    border-width: 10px;
}
h1{
    text-align: center;
    text-shadow: 2px 2px white;
    font-family: 'Fugaz One', cursive;
    font-size: 32px;
    border: 8px solid;
    padding: 10px; 
    width: 200px;
    resize: both;
    overflow: auto;
    background-color:#B1FFFD;
    border-radius: 50px;
    margin:auto;
}
table{
    text-align: center;
    margin:auto;
    background-color:#ffbdde;
    border-radius: 50px;
    border: 8px solid;
    padding: 10px; 
    font-family: 'Fugaz One', cursive;
}
span{
    background-color: #CAB8FF; 
}
.your{
    border: 6px solid;
    padding: 6px; 
    width: 50px;
    resize: both;
    overflow: auto;
    background-color:#FFEF78;
    border-radius: 50px;
    margin:auto;
}
textarea{
    border: 8px solid;
}
input{
    border: 3px solid;
}
.website a:hover{
    color:#ff51a8;
}
